@import "vendors/include-media";
@import "vendors/icomoon-style";
@import "vendors/icomoon-variables";
@import "vendors/slick";
@import "base/variables";
@import "base/mixins";
@import "base/helpers";
// @import "blocks/main";
@import "base/buttons";

$breakpoints: (
  "xs-phone": 320px,
  "phone": 480px,
  "tablet": 768px,
  "desktop": 1024px,
  "widescreen": 1200px,
);

$media-expressions: (
  "screen": "screen",
  "print": "print",
  "handheld": "handheld",
  "landscape": "(orientation: landscape)",
  "portrait": "(orientation: portrait)",
  "retina2x":
    "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)",
  "retina3x":
    "(-webkit-min-device-pixel-ratio: 3), (min-resolution: 350dpi), (min-resolution: 3dppx)",
);

* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  line-height: 1.625;
  font-family: "Roboto", sans-serif;
  background-color: #1a1a1a;
  //   color: #85878c;
  color: #d0cbbf;
  margin: 0;

  @include media(">=tablet") {
    font-size: 16px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $white;
  text-transform: capitalize;
  margin-top: 0;
}

h1 {
  font-size: 46px;
  line-height: 1.16;
  font-weight: normal;
  font-weight: 300;

  @include media(">=tablet") {
    font-size: 72px;
  }
}

h2 {
  font-size: 26px;
  line-height: 1.5;
  font-weight: 400;

  @include media(">=tablet") {
    font-size: 36px;
    line-height: 2.5;
  }
}

h3 {
  font-size: 22px;
  line-height: 1.53;
  font-weight: 400;

  @include media(">=tablet") {
    font-size: 32px;
    line-height: 1;
  }
}

h4 {
  font-size: 19px;
  line-height: 1;
  font-weight: 400;

  @include media(">=tablet") {
    font-size: 22px;
    line-height: 1.18;
  }
}

h5 {
  font-size: 16px;
  line-height: 1.16;
  font-weight: 400;

  @include media(">=tablet") {
    font-size: 18px;
  }
}

h6 {
  font-size: 14px;
  line-height: 1.875;
  font-weight: 400;

  @include media(">=tablet") {
    font-size: 16px;
  }
}

p {
  margin-top: 0;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  @extend %list-reset;
}

.holder-title {
  position: relative;
  text-align: center;
  z-index: 1;

  &:before {
    content: "";
    position: absolute;
    bottom: -22px;
    transform: translateX(-50%);
    height: 2px;
    width: 60px;
    background-color: $primary-color;
  }

  strong {
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    font-size: 90px;
    z-index: -1;
    color: #303030;

    @include media('>=tablet') {
      left: 50%;
      transform: translateX(-50%);
      font-size: 100px;
    }
  }

  h2 {
    color: #d9d9d9;
    font-size: 36px;
    z-index: 2;
    margin-bottom: 80px;
  }
}

.dark-gray {
  background-color: $dark-gray;
  color: $white;
}

.primary-color {
  background-color: $primary-color;
  color: $dark-gray;
}

.section {
  padding: 20px 0;

  @include media(">=tablet") {
    padding: 50px 0;
  }

  @include media(">=desktop") {
    padding: 120px 0;
  }
}

.container {
  width: 100%;
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.star-ratings {
  display: inline-FLEX;
  position: relative;
  color: #c5c5c5;
  font-size: 21px;
  text-shadow: 0px 1px 0 #a2a2a2;

  @include media(">=tablet") {
    font-size: 23px;
  }

  span {
    display: inline-block;
    padding: 0 3px;
  }

  .number {
    display: flex;
    align-items: center;
    font-size: 12px;
  }

  &-top {
    white-space: nowrap;
    color: #f9ad3d;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  &-bottom {
    padding: 0;
    display: block;
    z-index: 0;
  }
}

#header {
  @include animate(background-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 0 20px;
  z-index: 10;
  border-bottom: 2px solid rgba($light-gray, 0.1);

  @include media(">=tablet") {
    padding: 33px 0 28px;
  }

  &:hover {
    background-color: $dark-gray;
  }

  &.sticky {
    background-color: $dark-gray;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    margin: 0 -22px;

    @include media(">=tablet") {
      flex-direction: row;
      justify-content: start;
      font-size: 14px;
    }

    > li {
      padding: 22px 0;

      @include media(">=tablet") {
        padding: 0 22px;
      }

      a {
        @extend %underline;
        color: $white;
        text-decoration: none;
      }

      &:first-child {
        a {
          color: $primary-color;
        }
      }
    }
  }
}

#wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;

  &:after {
    @include animate(opacity z-index background);
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    background-color: transparent;
  }

  @include media(">=desktop") {
    &:after {
      display: none;
    }
  }
}

.nav-active {
  overflow: hidden;

  #wrapper {
    &:after {
      opacity: 1;
      z-index: -1;
      background-color: rgba(51, 51, 51, 0.7);
    }
  }

  .main-nav {
    display: flex;
    justify-content: center;
    text-align: center;
    visibility: visible;
    left: 0;
    background-color: $dark-gray;
    z-index: -1;
  }

  .nav-opener {
    span {
      opacity: 0;
    }

    &:before,
    &:after {
      transform: rotate(-45deg);
      top: 50%;
      left: 0;
      right: 0;
    }

    &:before {
      transform: rotate(45deg);
    }
  }
}

.main-nav {
  @include animate(visibility right left);
  position: fixed;
  width: 100%;
  top: 0;
  left: -100%;
  bottom: 0;
  height: 100vh;
  overflow-y: auto;
  visibility: hidden;
  z-index: 5;

  @include media(">=350px") {
    width: 250px;
    left: -250px;
  }

  @include media(">=desktop") {
    width: auto;
    position: static;
    height: auto;
    visibility: visible;
    overflow: visible;
  }
}

.nav-opener {
  display: block;
  width: 30px;
  height: 20px;
  position: absolute;
  top: 25px;
  right: 15px;
  text-indent: -9999px;

  @include media(">=desktop") {
    display: none;
  }

  &:after,
  &:before,
  span {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 4px;
    background: $primary-color;
    transition: all 0.3s;
  }

  &:hover {
    &:after,
    &:before,
    span {
      background-color: darken($primary-color, 10%);
    }
  }

  &:before {
    top: 0;
  }

  span {
    top: 50%;
  }

  &:after {
    top: 100%;
  }
}

.resize-active {
  .navbar-nav,
  .main-nav {
    transition: none;
  }
}

.intro {
  display: flex;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 300px;
  min-height: 100vh;
  padding: 130px 0 40px;

  @include media(">=tablet") {
    padding: 100px 0 40px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $white;
    text-align: center;

    .text-box {
      margin-bottom: 15px;

      @include media(">=tablet") {
        margin-bottom: 40px;
      }

      @include media(">=desktop") {
        margin-bottom: 70px;
      }

      .descr-box {
        margin-bottom: 40px;
      }
    }

    h1 {
      margin-bottom: 20px;
      
      @include media('>=tablet') { 
      margin-bottom: 0;
      }
    }

    .info-box {

      @include media('>=desktop') {
        width: 980px;
      }
    }
  }
}

.info-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 0 -15px;

  @include media(">=tablet") {
    flex-direction: row;
    align-items: start;
  }

  > li {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 15px;
    margin-bottom: 30px;

    @include media(">=tablet") {
      width: 33.33%;
      margin-bottom: 0;
    }

    strong,
    a {
      color: $white;
      margin-bottom: 15px;
    }

    strong {
      font-weight: 400;
      margin-bottom: 2px;
    }

    a {
      text-decoration: none;
    }

    .box-img {
      font-size: 20px;
      color: #908f8f;
      margin-bottom: 7px;
    }

    span {
      display: block;
      font-size: 14px;
      color: #908f8f;
    }
  }
}

.about {
  padding: 30px 0;

  @include media(">=tablet") {
    padding: 100px 0;
  }

  .holder-title {
    &:before {
      display: none;
    }
  }

  .about-block {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    background-color: $dark-gray;
    text-align: center;
    padding: 30px 20px;

    @include media(">=tablet") {
      padding: 94px 65px 59px;
    }

    .description-box {
      margin-bottom: 21px;
    }

    h2 {
      margin-bottom: 30px;

      @include media(">=tablet") {
        font-size: 30px;
        margin-bottom: 57px;
      }
    }
  }
}

.slider-holder {
  max-width: 690px;
  padding-top: 14px;
  margin: 0 auto;

  @include media(">=tablet") {
    padding-top: 39px;
  }

  @include media(">=desktop") {
    padding-top: 75px;
  }

  .slick-list {
    margin-bottom: 6px;

    @include media(">=desktop") {
      margin-bottom: 31px;
    }
  }

  .slider-item {
    display: flex;
    gap: 0 30px;
  }

  .icon-quotes {
    display: none;
    font-size: 62px;
    color: #dedede;
    margin-bottom: 49px;

    @include media(">=desktop") {
      display: block;
    }
  }

  .slick-prev,
  .slick-next {
    display: flex;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: #4d4d4d;
    font-size: 30px;
    border: none;
    cursor: pointer;
    border: 1px solid #4d4d4d;
    border-radius: 50%;
    padding: 30px;

    @include media(">=desktop") {
      width: 20px;
      height: 20px;
    }
  }

  .icon-arrow-left,
  .icon-arrow-right {
    font-size: 20px;
  }

  .slick-prev {
    @include media(">=tablet") {
      left: -80px;
    }

    @include media(">=desktop") {
      left: -132px;
    }
  }

  .slick-next {
    @include media(">=tablet") {
      right: -80px;
    }

    @include media(">=desktop") {
      right: -132px;
    }
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    margin: 0 -8px;

    > li {
      padding: 0 8px;

      button {
        width: 7px;
        height: 7px;
        font-size: 0;
        border-radius: 50%;
        background-color: #bfc3c7;
        border: none;
        padding: 0;
      }
    }

    .slick-active {
      button {
        width: 11px;
        height: 11px;
        border: 3px solid $black;
      }
    }
  }
}

.work {
  padding: 0 0 30px;

  h2 {
    text-align: center;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;

    .col {
      width: 100%;
      padding: 0 15px;
      margin-bottom: 25px;

      @include media(">=tablet") {
        width: 50%;
      }

      @include media(">=desktop") {
        width: 25%;
      }

      &:first-child {
        .text-box {
          background-color: $primary-color;

          h4 {
            color: #191919;

            &::before {
              background-color: #191919;
            }
          }

          p {
            color: #191919;
          }
        }
      }
    }
  }

  .text-box {
    height: 100%;
    font-size: 13px;
    line-height: 1.38;
    background-color: #252525;
    border-radius: 6px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 24px 24px 30px;

    h4 {
      position: relative;
      text-transform: capitalize;
      margin-bottom: 41px;

      &::before {
        position: absolute;
        content: "";
        width: 56px;
        height: 2px;
        top: 42px;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: #34c759;
      }
    }

    p {
      color: #929292;
    }
  }
}

.dishes {
  padding: 35px 0 20px;

  @include media('>=tablet') {
    padding: 75px 0 46px;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;

    .col {
      width: 100%;
      padding: 0 15px;
      margin-bottom: 30px;

      @include media(">=tablet") {
        width: 50%;
      }

      @include media(">=desktop") {
        width: 33.33%;
      }
    }
  }

  .box-img {
    height: 180px;
    background-size: cover;
    background-position: center;

    @include media(">=tablet") {
      height: 260px;
    }

    .badge {
      display: flex;
      justify-content: flex-end;
      color: $white;
      padding: 24px;

      .icon-arrow-outline {
        @include animate(background-color);
        border-radius: 50%;
        background-color: rgba(black, 0.3);
        cursor: pointer;
        padding: 12px;

        &:hover {
          background-color: rgba(black, 0.7);
        }
      }
    }
  }

  .card {
    background-color: $dark-gray;
    border-radius: 6px;
  }

  .card-holder {
    padding: 12px;
    font-size: 13px;

    @include media(">=tablet") {
      padding: 27px 30px 24px;
    }

    .card-body {
      margin-bottom: 16px;
      color: #85878c;
    }

    h3 {
      margin-bottom: 0;
    }

    .description {
      display: block;
      font-size: 12px;
      color: #a4a8b2;
      margin-bottom: 14px;
    }
  }

  .card-footer {
    display: flex;
    justify-content: space-between;
  }
}

.chefs {
  padding: 20px 0 30px;

  @include media('>=tablet') {
  padding: 50px 0 60px;
  }

  h2 {
    margin-bottom: 61px;
  }

  .holder-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 -15px;

    @include media(">=tablet") {
      justify-content: start;
    }

    .col {
      padding: 0 15px;
      margin-bottom: 30px;

      @include media(">=tablet") {
        width: 50%;
      }

      @include media(">=desktop") {
        width: 33.33%;
        margin: 0;
      }
    }
  }

  .description-box {
    display: flex;
    margin-bottom: 16px;
  }

  .avatar-img {
    margin-right: 24px;
  }

  .text-box {
    display: block;
    padding-top: 10px;

    h5 {
      margin-bottom: 0;
    }

    span {
      font-size: 12px;
    }
  }

  .img-holder {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;

    img {
      padding: 0 10px;
      margin-bottom: 10px;

      @include media(">=tablet") {
        margin-bottom: 0;
      }
    }
  }
}

.recipes {
  padding: 30px 0 30px;

  @include media('>=tablet') {
    padding: 70px 0 67px;
  }

  .main-box,
  li {
    background-position: center;
    background-size: cover;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;

    .col {
      width: 100%;
      padding: 0 15px;

      @include media(">=tablet") {
        width: 50%;
      }
    }
  }

  .icon-box {
    display: flex;
    font-family: "Roboto", sans-serif !important;
    margin: 0 -15px 13px;

    .first,
    .second {
      display: flex;
      align-items: center;
      padding: 0 15px;
    }

    span {
      font-size: 11px;
    }
  }

  .icons {
    font-size: 24px;
    margin-right: 15px;
  }

  .main-box {
    position: relative;
    height: 100%;
    border-radius: 6px;

    .holder-box {
      margin-bottom: 38px;

      @include media(">=tablet") {
        margin-bottom: 68px;
      }
    }

    .arrow-box {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 30px;
      right: 30px;
      width: 40px;
      height: 40px;
      background-color: rgba(black, 0.3);
      color: $white;
      text-decoration: none;
      border-radius: 50%;
      padding: 10px;
    }

    .preview-recipes {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $white;
      text-align: center;
      text-decoration: none;
      padding: 30px 0;

      @include media(">=tablet") {
        height: 100%;
        padding: 60px 0 50px;
      }

      .badge {
        margin-bottom: 40px;

        @include media(">=tablet") {
          margin-bottom: 70px;
        }
      }

      .date {
        display: block;
        font-size: 14px;
        margin-bottom: 26px;
      }

      .title {
        color: $white;
        font-size: 24px;
        margin-bottom: 30px;

        @include media(">=tablet") {
          margin-bottom: 51px;
        }
      }

      .avatar {
        display: block;
        font-size: 14px;
      }
    }
  }

  .badge {
    font-size: 10px;
    background-color: rgba(black, 0.3);
    text-transform: uppercase;
    padding: 4px 17px;
  }

  .blog-list-link {
    > li {
      min-height: 150px;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
      border-radius: 6px;
      padding: 30px 30px 14px;
      margin: 0 0 30px 0;

      &:last-child {
        margin-bottom: 0;
      }

      .info-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        .holder-box {
          margin-bottom: 13px;

          @include media(">=tablet") {
            margin-bottom: 0;
          }
        }

        .badge {
          margin-right: 10px;
        }
      }

      h4 {
        line-height: 1.85;
        font-size: 16px;
        margin-bottom: 10px;
      }

      .date {
        font-size: 12px;
      }

      a {
        color: $white;
        text-decoration: none;
      }
    }

    .primary-color {
      color: $dark-gray;
    }
  }
}

.social {
  padding: 30px 0 30px;
  margin-bottom: 30px;

  @include media('>=tablet') {
    padding: 60px 0 60px;
    margin-bottom: 60px;
  
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;

    .col {
      width: 100%;
      padding: 0 15px;
      margin-bottom: 30px;

      @include media(">=tablet") {
        width: 50%;
      }

      @include media(">=desktop") {
        width: 33.33%;
        margin-bottom: 0;
      }
    }

    .instagram-col {
      .card-body {
        padding: 0 15px;
      }
    }
  }

  .card {
    height: 100%;
    background-color: $dark-gray;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    width: 350px;

    @include media('<tablet') {
      width: 350px;
    }

    .icons {
      font-size: 27px;
    }
  }
  .date {
    display: block;
    font-size: 14px;
    margin-bottom: 16px;
  }
  p {
    font-size: 14px;
    line-height: 2.14;
    margin-bottom: 10px;
  }

  .author {
    font-size: 14px;
    color: $primary-color;
  }

  .instagram-col {
    .card-header {
      margin-bottom: 0;
    }
  }

  .card-header {
    display: flex;
    justify-content: space-between;
    padding: 22px 25px;
    border-bottom: 3px solid #303030;
    margin-bottom: 23px;

    .holder {
      display: flex;
      align-items: center;

      .icons {
        border: 2px solid #303030;
        border-radius: 50%;
        padding: 6px;
        margin-right: 20px;
      }
    }

    span {
      color: #bfbfbf;
      font-size: 15px;
    }
  }

  .card-body {
    padding: 0 30px 15px;

    @include media(">=tablet") {
      padding: 0 30px;
    }
    .row {
      display: flex;
      flex-wrap: wrap;
    }

    .col {
      width: 33.33%;
      max-width: 120px;
      height: 120px;
      background-position: center;
      background-size: cover;
      margin-bottom: 0;
    }
  }
}

#footer {
  text-align: center;
  background-color: $dark-gray;

  .container {
    max-width: 1000px;
  }

  .info-box {
    padding: 30px 0 34px;
    border-bottom: 2px solid #303030;
  }

  .copiright-box {
    padding: 30px 0;

    a {
      display: block;
      color: #737373;
      text-decoration: none;
      font-size: 13px;
    }
  }
}
